.card {
    width: 300px;
    height: 400px;
    background: #fff;
    justify-self: center;
    align-self: center;

    .content {
        .title {
            height: 50px;
        }

        .body {
            height: 300px;
            border-top: 1px solid #80808029;
            padding: 5px;
            overflow: auto;
            line-height: 25px;

            p {
                padding: 5px;
            }
        }

        .footer {
            height: 50px;
            border-top: 1px solid #80808029;
            button {
                font-size: 1.5em;
                font-weight: 100;
                color: red;
                background: #fff;
                padding: 0 10px 0 10px;
                margin: 5px 0 5px 0;
                cursor: pointer;

                &:hover {
                    background: red;
                    color: #fff;
                    transform: scale(1.1);
                }
            }
        }
    }
}
