<div class="card" *ngIf="show">
    <div class="face face1">
        <div class="content">
            <div class="title">
                <h2>
                    {{ title | slice: 0:20 }}
                    {{ title.length > 20 ? '...' : '' }}
                </h2>
            </div>
            <div class="body">
                <ng-content></ng-content>
            </div>
            <div class="footer">
                <button (click)="addFavorite(item)">
                    Favoritar &hearts;
                </button>
            </div>
        </div>
    </div>
</div>
