<div class="cards">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <h2>
                    STAR WARS
                </h2>
                <p>
                    Star Wars (Guerra nas Estrelas BRA ou Guerra das Estrelas
                    POR) é uma franquia do tipo space opera estadunidense criada
                    pelo cineasta George Lucas que conta com uma série de oito
                    filmes de fantasia científica e dois spin-offs.
                </p>
            </div>
        </div>
        <div class="face face2">
            <img class="imagem" src="assets/images/chewbacca.png" />
            <a class="botao" [routerLink]="['/starwars']">Quero saber mais</a>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <h2>
                    BREWDOG
                </h2>
                <p>
                    A Cervejaria BrewDog está localizada em Ellon,
                    Aberdeenshire, na Escócia. Foi fundada em 2007 e produz
                    cerca de 2, 2 milhões de garrafas e 400.000 latas por mês
                    (outubro de 2015). A cervejaria produz uma extensa variedade
                    de estilos entre Stout, IPA, Lager, etc. Sendo conhecida por
                    sua criatividade e inovação ao desenvolver cervejas e sua
                    própria marca.
                </p>
            </div>
        </div>
        <div class="face face2">
            <img class="imagem" src="assets/images/cerveja.png" />
            <a class="botao" [routerLink]="['/cervejas']">Quero saber mais</a>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <h2>
                    MARVEL
                </h2>
                <p>
                    Marvel Comics, anteriormente Marvel Publishing Inc e Marvel
                    Comics Group é uma editora de quadrinhos americanos e mídia
                    relacionada a este ramo. Hoje, a Marvel Comics é considerada
                    atualmente uma das maiores editoras de histórias em
                    quadrinhos dos Estados Unidos e do mundo.
                </p>
            </div>
        </div>
        <div class="face face2">
            <img class="imagem" src="assets/images/marvel.png" />
            <a class="botao" [routerLink]="['/marvel']">Quero saber mais</a>
        </div>
    </div>
</div>
