.form {
    select,
    input,
    button {
        padding: 5px;
        margin: 5px;
        font-size: 1.2em;
        color: gray;
    }

    button {
        background: #fff;
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    select,
    input,
    button {
        display: block;
        width: 100%;
    }
}
